
// text colors

$text-color-primary: #EF334E;
$text-color-black: #333333;
$text-color-gray: #333333;
$text-color-white: #FFFFFF;


// button colors
$button-color-default: #FFFFFF;
$button-color-primary: #EF334E;
$button-color-disabled: #EEEEEE;


// background colors

$bg-gray: #edf2f0;
